@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #ffffff;
  --text-light: #333;
  --bg-dark: #121212;
  --text-dark: #ffffff;
}

/* Light Mode */
html.light {
  @apply bg-white text-black;
  background-color: var(--bg-light);
  color: var(--text-light);
}

/* Dark Mode */
html.dark {
  @apply bg-gray-900 text-white;
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
