@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-light: #ffffff;
    --text-light: #333;
    --bg-dark: #121212;
    --text-dark: #ffffff;
  }
}

.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
